<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkstec.newmall.mapper.G2024ETFConfigMapper">

	<!-- 查询关联板块代码 -->
	<select id="SelectBanKuaiQuery" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">

		select distinct(MODULE_CODE) code ,MODULE_NAME||CONCAT(CONCAT('(',MODULE_CODE),')') name
		from
		OTC.PROD_NEW_MODULE_TOP,

		WHERE MODULE_CODE IS NOT NULL
		and
		MODULE_CODE not in (select TARGET_CODE from OTC142.ETF_CONFIGURATION where TARGET_TYPE='2' and TARGET_CODE is not null)
	</select>
	<!-- 编辑查询关联板块代码 -->
	<select id="SelectBanKuaiQuery2" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">

		select distinct(MODULE_CODE) code ,
		MODULE_NAME||CONCAT(CONCAT('(',MODULE_CODE),')') name
		from
		OTC.PROD_NEW_MODULE_TOP

		WHERE MODULE_CODE IS NOT NULL

	</select>
	<!-- 查询产品 -->
	<select id="SelectProdQuery1" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">
		SELECT
		prod_code code,
		prod_name || CONCAT( CONCAT( '(', prod_code ), ')' ) name
		FROM
		OTC.GJ_G2010_PROD_INFO_BASE
		WHERE
		prod_type = '1'
	</select>
	<!-- 查询产品 -->
	<select id="SelectProdQueryF" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">
		SELECT
		prod_code code,

		prod_name || CONCAT( CONCAT( '(', prod_code ), ')' ) name
		FROM
		OTC.GJ_G2010_PROD_INFO_BASE
		WHERE
		prod_type = 'F'
	</select>
	<!-- ———————————————————————————————————————————————————————————————————————————————————————————————— -->
	<!-- 黄金宝话题配置 -->
	<!-- 1.查询所有话题信息 -->
	<select id="NMSecGetAllTopicInfo" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">
		select
		a.ID,
		a.TARGET_TYPE,
		a.TARGET_CODE,
		a.INTERNAL_FUND_CODE,
		a.EXTERNAL_FUND_CODE,
		a.BOTTOM_CONFIG_LINK,
		a.BOTTOM_FIXED_LINK,
		a.ONLINE_STATUS,
		a.LCODER_CREATE_TIME,
		a.LCODER_UPDATE_TIME,
		a.CREATE_PERSON ,
		a.KV_ID ,
		a.KV_URL ,
		a.KV_NAME ,
		b.name,
		NVL(b.name,a.TARGET_CODE) NAMECODE,
		c.INTERNAL_FUND_NAME,
		d.EXTERNAL_FUND_NAME
		from OTC142.ETF_CONFIGURATION a

		left join (select distinct(MODULE_CODE) code ,MODULE_NAME||CONCAT(CONCAT('(',MODULE_CODE),')') name
		from
		OTC.PROD_NEW_MODULE_TOP) b  on a.TARGET_CODE = b.code
		left join (select prod_code code ,  prod_name || CONCAT(CONCAT('(',prod_code),')') INTERNAL_FUND_NAME    from OTC.GJ_G2010_PROD_INFO_BASE where prod_type= 'F') c on c.code = a.INTERNAL_FUND_CODE
		left join (select prod_code code ,  prod_name || CONCAT(CONCAT('(',prod_code),')') EXTERNAL_FUND_NAME    from OTC.GJ_G2010_PROD_INFO_BASE where prod_type= '1') d on d.code = a.EXTERNAL_FUND_CODE
		<where>
			<if test ="TARGET_CODE!= null">
				A.TARGET_CODE  = #{TARGET_CODE}
			</if>
			<if test ="TARGET_TYPE!=null">
				AND A.TARGET_TYPE = #{TARGET_TYPE}
			</if>
			<if test ="LCODER_CREATE_TIME!=null">
				AND A.LCODER_CREATE_TIME &gt;= #{LCODER_CREATE_TIME}
			</if>
			<if test ="LCODER_CREATE_TIME != null">
				AND A.LCODER_CREATE_TIME &lt;=  #{LCODER_CREATE_TIME}
			</if>
			<if test ="ID != null">
				AND A.ID = #{ID}
			</if>
		</where>
		order by BOTTOM_FIXED_LINK,A.LCODER_UPDATE_TIME desc
	</select>
	<select id="NMSecGetAllTopicInfoOne" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto"
			resultType="map">
		select
		a.ID,
		a.TARGET_TYPE,
		a.TARGET_CODE
		from OTC142.ETF_CONFIGURATION a
		where 1=1
		<if test ="TARGET_CODE!= null and TARGET_CODE!= ''">
			AND A.TARGET_CODE = #{TARGET_CODE}  AND A.TARGET_TYPE = #{TARGET_TYPE}
		</if>
		<if test ="TARGET_CODE == null or TARGET_CODE == ''">
			AND A.TARGET_TYPE = #{TARGET_TYPE} AND A.TARGET_CODE is null
		</if>
		<if test ="ID != null">
			AND A.ID != #{ID}
		</if>

	</select>

	<!-- 2.增加一个新的话题信息 -->
	<insert id="NMSecGetSetTopicInfo" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		insert into  OTC142.ETF_CONFIGURATION(
		ID,
		TARGET_TYPE,
		TARGET_CODE,
		INTERNAL_FUND_CODE,
		EXTERNAL_FUND_CODE,
		BOTTOM_CONFIG_LINK,
		BOTTOM_FIXED_LINK,
		ONLINE_STATUS,
		LCODER_CREATE_TIME,
		KV_ID,
		KV_URL,
		KV_NAME,
		CREATE_PERSON

		)values(
		OTC142.SQ_ETF_CONFIGURATION.NEXTVAL,
		#{TARGET_TYPE},
		#{TARGET_CODE},
		#{INTERNAL_FUND_CODE},
		#{EXTERNAL_FUND_CODE},
		#{BOTTOM_CONFIG_LINK},
		#{BOTTOM_FIXED_LINK},
		'1',
		sysdate,
		#{KV_ID},
		#{KV_URL},
		#{KV_NAME},
		#{CREATE_PERSON}
		)
	</insert>

	<!-- 3.修改话题信息 -->
	<update id="NMSecGetUpdTopicInfo" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update OTC142.ETF_CONFIGURATION set
		TARGET_TYPE=#{TARGET_TYPE},
		TARGET_CODE=#{TARGET_CODE},
		INTERNAL_FUND_CODE=#{INTERNAL_FUND_CODE},
		EXTERNAL_FUND_CODE=#{EXTERNAL_FUND_CODE},
		BOTTOM_CONFIG_LINK=#{BOTTOM_CONFIG_LINK},
		BOTTOM_FIXED_LINK=#{BOTTOM_FIXED_LINK},
		LCODER_UPDATE_TIME = sysdate,
		ONLINE_STATUS='1',
		UPDATE_PERSON=#{UPDATE_PERSON}
		where ID = #{ID}
	</update>
	<!-- 3.修改话题信息 -->
	<update id="NMSecGetUpdKV" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update otc.ETF_CONFIGURATION set

		KV_ID=#{KV_ID},
		KV_NAME=#{KV_NAME},
		KV_URL=#{KV_URL},

		LCODER_UPDATE_TIME = sysdate,
		ONLINE_STATUS='1',
		UPDATE_PERSON=#{UPDATE_PERSON}
		where ID = #{ID}
	</update>

	<!-- 4.删除话题信息 -->
	<delete id="NMSecDelUpdTopicInfo" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		delete from OTC142.ETF_CONFIGURATION
		where
		ID = #{ID}
	</delete>

	<!-- 4.1 普通删除话题信息 -->
	<delete id="NMSecDelUpdTopicInfo2" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		delete from ETF_CONFIGURATION
		where
		ID = #{ID}
	</delete>


	<!-- 6.审核状态修改1 -->
	<update id="NMSecTopicInfoAuditAutoTo1" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update OTC142.ETF_CONFIGURATION1 set LCODER_UPDATE_TIME = sysdate,
		UPDATE_PERSON=#{UPDATE_PERSON},
		ONLINE_STATUS='1'
		where ID = #{ID}
	</update>

	<!-- 8.审核状态修改3 -->
	<update id="NMSecTopicInfoAuditAutoTo2" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update OTC142.ETF_CONFIGURATION a set LCODER_UPDATE_TIME = sysdate,
		UPDATE_PERSON=#{UPDATE_PERSON},
		ONLINE_STATUS='0'
		where ID = #{ID}
	</update>

	<!-- 9.审核状态修改4 -->
	<update id="NMSecTopicInfoOperIdTo1" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update otc.GJ_G2010_TOPIC_INFO set LCODER_UPDATE_TIME = sysdate,
		OPER_STATUS = 1
		where ID = #{id}
	</update>

	<update id="NMSecTopicInfoOperIdTo2" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update otc.GJ_G2010_TOPIC_INFO set LCODER_UPDATE_TIME = sysdate,
		OPER_STATUS = 2
		where ID = #{id}
	</update>

	<update id="NMSecTopicInfoOperIdTo3" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update otc.GJ_G2010_TOPIC_INFO set LCODER_UPDATE_TIME = sysdate,
		OPER_STATUS = 3
		where ID = #{id}
	</update>

	<update id="NMSecTopicInfoOperIdTo4" parameterType="com.linkstec.newmall.dto.NewMallETFConfigInDto">
		update oTc.GJ_G2010_TOPIC_INFOb set LCODER_UPDATE_TIME = sysdate,
		OPER_STATUS = 4
		where ID = #{id}
	</update>







</mapper>
